.dashboard-panel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1%;
  padding: 12px 0;
}

.square {
  position: relative;
  height: 120px;
  background-color: var(--white);
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.square .number {
  font-size: 25px;
}

.square .text {
  font-size: 25px;
  position: absolute;
  top: 0px;
  left: 8px; 
  font-size: 25px;
  font-weight: 550;
}

.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1%;
  align-items: start;
}

.chart {
  flex: 1;
  min-width: 0;
  border: 1px solid rgba(0,0,0,.125);
}
