:root {
  --lightgreen: #9db896;
  --green: #5a904c; 
  --lightred: #c56565; 
  --red: #996053;
  --lightyellow: #f9d29b;   
  --yellow: #d48f35; 
  --lightgrey: #f0f0f0; 
  --grey: #716a71; 
}

.dashboard-header{
  color: black;
}

.dashboard-panel{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 12px 0 12px 0;
}

.square {
  width: 295px;
  height: 120px;
  background-color: var(--lightgreen);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
}

.charts-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.chart {
  flex: 1;
  margin: 10px;
  min-width: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
