.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1%;
  align-items: start;
}

.chart {
  flex: 1;
  min-width: 0;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 15px;
  background-color: var(--white);
  position: relative;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 30px;
}

.chart-title {
  font-size: 18px;
  font-weight: bold;
  color: var(--black);
}

.chart-icon {
  font-size: 20px;
  color: var(--gray);
}
