* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#controller {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#content {
  width: 100%;
  background-color: #f4f4f4;
  padding-left: 80px;
}

#side-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 80px;
  background: var(--lightblack);
  gap: 20px;
}

#side-bar button {
  display: flex;
  width: 60px;
  height: 60px;
  background: none;
  font-size: 40px;
  color: var(--white);
  cursor: pointer;
  transition: all 0.3s ease;
}

#side-bar button:hover {
  background-color: var(--hover-bg);
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#side-bar button:active {
  transform: scale(0.95);
}

@media (max-width: 830px) {
  #side-bar {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    height: 80px;
    width: 100vw;
    flex-direction: row;
  }
  #content {
    padding-left: 0;
    padding-bottom: 80px;
  }
}