* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#controller {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#content {
  width: 100%;
  background-color: #f4f4f4;
}

#side-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 80px;
  background: var(--lightblack);
  padding: 10px 0;
  transition: all 0.3s ease;
}

#side-bar button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  background: none;
  border: none;
  font-size: 40px;
  color: var(--white);
  cursor: pointer;
  transition: all 0.3s ease;
}

#side-bar button:hover {
  background-color: var(--hover-bg);
  border-radius: 50%;
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#side-bar button:active {
  transform: scale(0.95);
}

#side-bar button svg {
  pointer-events: none;
}

@media (max-width: 768px) {
  #side-bar {
    width: 60px;
  }

  #side-bar button {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }
}
