:root {
  --lightgreen:(#9db896);
  --green:(#5a904c); 
  --lightred:(#c4a1a1); 
  --red:(#996053);
  --lightyellow:(#f9d29b);   
  --yellow:(#d48f35); 
  --lightgrey:(#dad9da); 
  --grey:(#716a71); 
}

/*GLOBAL COLORS*/